/* Playlist.css */
.playlist {
    padding: 10px 20px;
    background-color: #181818;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
}

.playlist h4 {
    margin-bottom: 10px;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist li {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.playlist .icon {
    margin-right: 8px;
    color: #1db954;
}

